<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
<div class="row collapse">
  <div class="small-3 column"><%= f.label :title %></div>
  <div class="small-9 column"><%= f.text_field :title %></div>
</div>
</p>
<p>
<div class="row collapse">
  <div class="small-3 column"><%= f.label :body %></div>
  <div class="small-9 column"><%= f.text_field :body %></div>
</div>
</p>
<% if PostPolicy.new(current_user, @post).publish? %>
<p>
<div class="field">
  <%= f.label :published %>
  <%= f.check_box :published %>
</div>
</p>
<% end %>
<p>
<div class="row collapse">
  <div class="small-3 column"><%= f.submit class: "button radius"%></div>
</div>
</p>
<% end %>
