<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Alex Quel Lien" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Portfolio", root_path %></h1>
          </li>
        </ul>
        <section class="left-nav-section">
          <%= link_to "Blog Posts", posts_path %>
        </section>
      </nav>
    </div>
    <!-- provide space for the top bar -->
    <div class="row">
      <div class="small-12 column"><div>
    <div>
    <div class="row">
      <div class="small-2 column">About Me</div>
      <div class="small-10 column"><%= yield %></div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
