backup.html.erb
<body>
    <div>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Portfolio", root_path %></h1>
          </li>
        </ul>
        <section class="left-nav-section">
        </section>
      </nav>
    </div>
    <!-- provide space for the alert notices -->
      <div class="row">
      <div class="small-12 column">
        <% flash.each do |key, value| %>
        <div class="alert-box round <%= flash_class(key) %>">
          <%= value %>
        </div>
        <% end %>
      </div>
      <!-- sidebar and main-->
      <div class="row">
        <div class="small-10 column"><%= yield %></div>
        <div class="small-2 column">About Me
        <ul>
          <li><%= link_to "My Blog Posts", posts_path %></li>
          <li><%= link_to "My Projects", projects_path %></li>
        </ul>
        </div>
      </div>
        <%= javascript_include_tag "application" %>
  </body>
